body {
    margin: 0;
}

button {
    box-shadow: 1px 1px 5px 5px black;
    margin-left: 18vw;
    background-color: black;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 1px rgba(148, 148, 148, 0.856);
    font-size: 25pt;
    border-radius: 3%;
    height: 5.3vw;
    width: 300px;
    border: 0px;
}

button:focus {
    
        outline: 0;
    }
button:hover {
    color: black;
    background-color: white;
    text-shadow: whitesmoke;
}

button:active {
    color: black;
    background-color: grey;
    text-shadow: black;
}
#botoncinho{
    position: absolute;
    left: 50vw;
    top: 20vw;
    margin-bottom: 0px;
}